{% extends '::base.html.twig' %}
{% trans_default_domain 'PalabreUserBundle' %}

{% block main %}

{% block palabre_user_content %}
<h1>{{ 'user.edit.title'|trans }}</h1>
{{ user.firstname }} {{ user.lastname }}
{% endblock palabre_user_content %}

{% endblock %}