{% extends '::base.html.twig' %}

{% block main %}
    {% if projects %}
        <h2>Project list</h2>
        
        <table  class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Creation date</th>
                    <th>Description</th>
                    <th>Action(s)</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td>{{ project.name }}</td>
                        <td></td>
                        <td>{{ project.description }}</td>
                        <td>
                            <a href="{{ path('palabre_project_project_edit', {'id': project.id}) }}">Edit</a>
                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No project found</h2>
    {% endif %}
    <p>To create a new project, <a href="{{ path('palabre_project_project_new') }}">click here</a></p>
{% endblock %}    
