{% extends "PalabreUserBundle::layout.html.twig" %}
{% trans_default_domain 'PalabreUserBundle' %}

{% block fos_user_content %}
<h1>{{ 'profile.edit.title'|trans }}</h1>
{% include "PalabreUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}
